@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "master.cshtml";
}

<div class="p-2 bg-dark text-white rounded">
	@Html.Partial("~/Views/Partials/myviews/RegisterMember.cshtml")
</div>